
@import url('https://fonts.googleapis.com/css2?family=Almendra+SC&family=Bungee+Spice&family=Nabla&display=swap');

body {
    display: flex;
    flex-wrap: wrap;
    background-color: #000;
    min-height: 100vh;
    font: normal 16px sans-serif;
    justify-content: space-evenly;
    align-items: center;
}

body .portada{
    width: 50%;
    margin: 5rem 0;
}
.contenedorPortada{
  display: flex;
  justify-content: center;
  width: 100%;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .tab {
    background-color: #f1f1f1;
    padding: 10px;
    cursor: pointer;
    margin: 1px 10px;
  }
  
  .tab-content {
    display: none;
    width: 100%;
    padding: 10px;
    border-top: none;
    color: #ccc;
  }

.container2{
    display: flex;
    width: 100%;
    justify-content: center;
}

.container.gallery-container {
    width: 95%;
    background-color: rgba(255, 255, 255, 0.5);
    min-height: 100vh;
    border-radius: 20px;
    box-shadow: 0 8px 15px rgba(255, 255, 255, 0.06);
    text-align: center;
}

.tz-gallery {
    padding: 40px;
}

.tz-gallery .cartita{
    width: 30%;
    margin: 1rem 1rem;
    background-color: #74dce0;
    color: #000;
}

.fotito {
    width: 50%;
    margin-bottom: 30px;
    border-radius: 4px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}

.fotito:hover {
    transform: scale(2);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.formulario{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form2{
    align-items: flex-start;
}

.dos{
    width: 50%;
    color: #74dce0;
    border-radius: 20px;
    min-height: 30vh;
    background-color: #000;
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.dos input{
    width: 100%;
    color: #000;
    line-height: 3rem;
    margin: 2rem 0;
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.botoncito{
    width: 20%;
    background-color: #74dce0;
    color: #000000;
    border-radius: 20px;
    box-shadow: 0 8px 15px rgba(255,255,255,0.3);
    margin: 1rem 0 2rem 0;
    font-weight: bold;
}

.btnForm2{
    width: 50%;
}

.btnCarga{
    width: 20%;
    
}

.btnIzq{
    border-radius: 20px 0px 0px 20px;
    margin-right: 0px;
}

.btnCen{
    border-radius: 0px;
}

.btnDer{
    border-radius: 0px 20px 20px 0px;
    margin-left: 0px;
}

.botoncito:hover{
   background-color: #fff;
    color: #000;
}

.baguetteBox-button {
    background-color: transparent !important;
}

.cartita{
    border-radius: 20px;
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}
.creador{
  color: rgb(0, 0, 0);
  font-family: 'Almendra SC', serif;
  font-weight: bolder;
  font-size: 2.3rem;
}
.pie{
  margin-top: 1.5rem;
  text-align: center;
  color: #74dce0;
  font-weight: bolder;
}

.form3{
    flex-wrap: wrap;
    align-items: flex-start;
}

.gtres{
    margin-bottom: 0;
}

.conte2 #resultado{
    display: flex;
    width: 100%;
    justify-content: center;
}

#tablaResultados{
    width: 100%;
}

#tablaResultados th,#tablaResultados td{
    text-align: center;
    color: #000;
    border: 1px solid black;
}

@media(max-width: 768px) {
    body {
        padding: 0;
    }
    body .portada{
        width: 100%;
        margin: 5rem 0;
    }

    .btnCarga, .btnForm{
        width: 100%;
    }
    .gallery-container{
        width: 100%;
        padding: 0;
    }
    .tz-gallery .cartita, .tz-gallery .dos{
        width: 100%;
        margin: 0;
    }

    .fotito{
        width: 70%;
    }

    .fotito:hover{
        transform: none;
    }
}